<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <form action="register" method="POST">
    {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="username" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm Password">
        <input type="Submit">
    </form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
</body>
</html>